*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
values/data_email.xml
E:\ProyectosAndroidStudio\Proyectos3.0\Chat\ChatEntresol\app\src\main\res\values\data_email.xml
