<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="appkite.jordiguzman.com.xatentresol">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name_manifest"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.ui.SplashActivity"
            android:theme="@style/SplashTeme" />
        <activity
            android:name=".activities.ui.MainActivity"
            android:label="@string/app_name_manifest"/>
        <activity
            android:name=".activities.settings.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.chat.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ui.MainActivity" />

            <intent-filter>
                <action android:name="ChatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ui.KickActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ui.ImageViewActivity"
            android:theme="@style/SplashTeme" />
        <activity
            android:name=".activities.settings.ChangePasswordActivity"
            android:parentActivityName=".activities.ui.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="true"
            android:permission="@string/app_name">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="firebase_messaging_auto_init_enabled"
                android:value="false" />
        </service>
        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:exported="true"
            android:permission="@string/app_name">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.settings.MyAccountActivity"
            android:theme="@style/AppThemeAppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ui.MainActivity" />
        </activity>
        <activity android:name=".activities.settings.NotificationsSettingsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="appkite.jordiguzman.com.xatentresol"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.legal.LegalActivity"
            android:theme="@style/AppThemeAppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ui.MainActivity" />
        </activity>
        <activity
            android:name=".activities.users.UsersBannedActivity"
            android:theme="@style/AppThemeAppBar" />
        <activity android:name=".activities.chat.GroupChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>